@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    table .pure-g {
        display: block;
        guilherme:'oi';
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@page :right {
    margin-left: 3cm;
    margin-right: 4cm;
}

.h{
    margin-left: 3cm;
}