@import url("fineprint.css") print;
@import url("bluish.css") projection, tv;
@import 'custom.css';
@import url("chrome://communicator/skin/");

th {
    background-color: #3399ff;
    color: #ffffff;
}

tr:hover,td,tr {
    background-color: #cce6ff;
    padding: 15px;
}

td, th {
    padding: 15px;
    right: 200px;
    border-bottom: 1px solid #ddd;
}
