.sign .front h1 span#big{
    margin-bottom: 15px;
    letter-spacing: 8px;
    color: rgb(218, 58, 58);
    font-size: 28px;
    text-transform: uppercase;

    background: -webkit-linear-gradient( rgb(237, 105, 105),  rgb(218, 58, 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}